.table{
    width: 100%;
    padding: 5px;
    table-layout: auto;
    border-collapse: collapse;
    border: 3px solid lightblue;
}

.thead{
    font-variant: small-caps;
    font-weight: bold;
    font: 1.2em "Fira Sans", serif;
}

