.container-fluid{
    width: 100%;
    padding: 5px;
}

.row{
    width: 100%;
    display:inline-block;
}

.col{
    display: inline-block;
}
button{
    background-color:darkblue;
    color: azure;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
    border-width: .2px;
    margin: 5px;
    position:static;
    margin-right: 5px;
    border-radius: 12px;
    float:right;
    cursor: pointer;
}