
.tr{
    width: 900%;
    text-align: left;

}

.td{
    padding: 5px;
    border: 1px solid;

}
button{
    background-color:darkblue;
    color: azure;
    font-weight: bold;
    border: none;
    padding: 5px 10px;
    border-width: .2px;
    margin: 5px;
    position:static;
    border-radius: 12px;
    float:center;
    cursor: pointer;
    width:fit-content;
}
